preflight-core/src/test/resources/audio/ogg-v1/*.b64 text eol=lf
preflight-core/src/test/resources/audio/ogg-v1/*.b64.part* text eol=lf
preflight-core/src/test/resources/audio/ogg-v1/*.sha256 text eol=lf
